<ion-view view-title="Profile" ng-controller="BookController" class="bookView">
    <ion-content>
        <md-toolbar layout-padding layout="row" class="md-whiteframe-z1">
            <md-button ng-click="back()" aria-label="Back" class="md-icon-button"><md-icon md-svg-src="img/icons/ic_arrow_back_white_24px.svg"></md-icon></md-button>
            <h1 class="md-headline" flex>{{item.title}}</h1>
        </md-toolbar>
        
        <md-content>
               
            <div layout="row" class="heading">
                
                <book-cover image="item.image" title="item.title"></book-cover>
                
                <div class="text">
                    <h3 class="md-headline">{{item.title}}</h3>
                    <h4 class="md-subhead"><span ng-repeat="author in item.authors">{{author}}</span></h4>
                    <p>{{item.release_date|date:'MMM yyyy'}}</p>
                </div>
                
            </div>
            
            <md-list>

                <md-list-item ng-repeat="item in users" ng-click="chat(item)">
                    <user-header on-click="chat(item)" flex user="item.user" sub="item.distance"></user-header>
                    <md-icon aria-label="Chat" md-svg-src="img/icons/comment_a6a6a6_24px.svg"></md-icon>
                </md-list-item>
                
            </md-list>
            
        </md-content>
        
    </ion-content>
</ion-view>